# Higgs Boson Tweets PyRaphtory Example Notebook ðŸ’¥

## Setup environment and download data ðŸ’¾

Import all necessary dependencies needed to build a graph from your data in PyRaphtory.

In [ ]:
pip install pyvis

If you would like to use the full dataset, please uncomment the curl command in the cell below and the preview data cell.

In [1]:
from pathlib import Path
from pyraphtory.context import PyRaphtory
from pyraphtory.vertex import Vertex
from pyraphtory.spouts import FileSpout
from pyraphtory.builder import *
from pyvis.network import Network
import csv

# !curl -o /tmp/twitter.csv https://raw.githubusercontent.com/Raphtory/Data/main/higgs-retweet-activity.csv

WARNING: sun.reflect.Reflection.getCallerClass is not supported. This will impact performance.
15:55:11.067 [io-compute-blocker-1] INFO  com.raphtory.internals.management.Py4JServer - Starting PythonGatewayServer...

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by py4j.reflection.MethodInvoker$1 (file:/Users/rachelchan/Raphtory/python/pyraphtory/lib/core-assembly-0.2.0a1.jar) to method java.util.AbstractMap$1.iterator()
WARNING: Please consider reporting this to the maintainers of py4j.reflection.MethodInvoker$1
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release

## Preview data ðŸ‘€

Preview the retweet twitter data: each line includes the source user A (the retweeter), the destination user B (the user being retweeted) and the time at which the retweet occurs.

In [ ]:
# !head /tmp/twitter.csv

## Create a new Raphtory graph ðŸ“Š

Turn on logs to see what is going on in PyRaphtory. Initialise Raphtory by creating a PyRaphtory object and create your new graph.

In [2]:
graph = PyRaphtory.new_graph()

15:55:20.917 [Thread-12] INFO  com.raphtory.internals.context.LocalContext$ - Creating Service for 'interesting_olive_trout'
15:55:20.935 [io-compute-blocker-7] INFO  com.raphtory.internals.management.Prometheus$ - Prometheus started on port /0:0:0:0:0:0:0:0:9999
2022-10-21 15:55:20,947 io-compute-blocker-7 INFO No Watcher plugin is available for protocol 'jar'
15:55:20.958 [io-compute-blocker-7] INFO  org.apache.arrow.memory.BaseAllocator - Debug mode disabled.
15:55:20.958 [io-compute-blocker-7] INFO  org.apache.arrow.memory.DefaultAllocationManagerOption - allocation manager type not specified, using netty as the default type
15:55:20.959 [io-compute-blocker-7] INFO  org.apache.arrow.memory.CheckAllocator - Using DefaultAllocationManager at memory/DefaultAllocationManagerFactory.class
15:55:21.074 [io-compute-blocker-7] INFO  com.raphtory.arrowmessaging.ArrowFlightServer - ArrowFlightServer(192.168.2.243,64184) is online
15:55:21.235 [spawner-akka.actor.default-dispatcher-3] INFO  akka.event.slf4j.Slf4jLogger - Slf4jLogger started
15:55:21.350 [spawner-akka.actor.default-dispatcher-3] INFO  akka.event.slf4j.Slf4jLogger - Slf4jLogger started
15:55:21.362 [io-compute-blocker-9] INFO  com.raphtory.internals.components.ingestion.IngestionOrchestrator - Starting Ingestion Service
15:55:21.366 [io-compute-blocker-6] INFO  com.raphtory.internals.components.partition.PartitionOrchestrator - Starting Partition Service
15:55:21.367 [io-compute-blocker-10] INFO  com.raphtory.internals.components.querymanager.QueryOrchestrator - Starting Query Service
15:55:21.446 [spawner-akka.actor.default-dispatcher-8] INFO  com.raphtory.internals.components.partition.PartitionOrchestrator - Deploying new Partition Manager for graph 'interesting_olive_trout' - request by 'fatal_cyan_toad'
15:55:21.446 [spawner-akka.actor.default-dispatcher-9] INFO  com.raphtory.internals.components.ingestion.IngestionOrchestrator - Deploying new Ingestion Manager for graph 'interesting_olive_trout' - request by 'fatal_cyan_toad'
15:55:21.446 [spawner-akka.actor.default-dispatcher-8] INFO  com.raphtory.internals.components.partition.PartitionOrchestrator$ - Creating '2' Partition Managers for 'interesting_olive_trout'.
15:55:21.446 [spawner-akka.actor.default-dispatcher-7] INFO  com.raphtory.internals.components.querymanager.QueryOrchestrator - Deploying new Query Manager for graph 'interesting_olive_trout' - request by 'fatal_cyan_toad'
15:55:21.579 [io-compute-blocker-6] INFO  com.raphtory.internals.components.partition.PartitionManager - Partition 0: Starting partition manager for 'interesting_olive_trout'.
15:55:21.580 [io-compute-blocker-2] INFO  com.raphtory.internals.components.partition.PartitionManager - Partition 1: Starting partition manager for 'interesting_olive_trout'.

## Ingest the data into a graph ðŸ˜‹

Write a parsing method to parse your csv file and ultimately create a graph.

Swap twitter_spout with /tmp/twitter.csv if using the big dataset, otherwise keep it as higgstestdata.csv for testing

In [3]:
def parse(graph, tuple: str):
    parts = [v.strip() for v in tuple.split(",")]
    source_node = parts[0]
    src_id = graph.assign_id(source_node)
    target_node = parts[1]
    tar_id = graph.assign_id(target_node)
    time_stamp = int(parts[2])

    graph.add_vertex(time_stamp, src_id, Properties(ImmutableProperty("name", source_node)), Type("User"))
    graph.add_vertex(time_stamp, tar_id, Properties(ImmutableProperty("name", target_node)), Type("User"))
    graph.add_edge(time_stamp, src_id, tar_id, Type("Tweet"))

twitter_builder = GraphBuilder(parse)
# twitter_spout = FileSpout("/tmp/twitter.csv")
twitter_spout = FileSpout("higgstestdata.csv")
graph.load(Source(twitter_spout, twitter_builder))

15:55:25.067 [spawner-akka.actor.default-dispatcher-10] INFO  com.raphtory.internals.components.ingestion.IngestionManager - Ingestion Manager for 'interesting_olive_trout' establishing new data source

com.raphtory.api.analysis.graphview.DeployedTemporalGraph@7370347e

15:55:25.073 [io-compute-2] INFO  com.raphtory.spouts.FileSpoutInstance - Spout: Processing file 'higgstestdata.csv' ...
15:55:25.079 [spawner-akka.actor.default-dispatcher-10] INFO  com.raphtory.internals.components.querymanager.QueryManager - Source '0' is blocking analysis for Graph 'interesting_olive_trout'
15:55:26.889 [spawner-akka.actor.default-dispatcher-8] INFO  com.raphtory.internals.components.querymanager.QueryManager - Source '0' is unblocking analysis for Graph 'interesting_olive_trout' with 15 messages sent. Latest update time was 1341101732

## Collect simple metrics ðŸ“ˆ

Select certain metrics to show in your output dataframe. Here we have selected vertex name, degree, out degree and in degree. **Time to finish: ~2 to 3 minutes**

In [4]:
from pyraphtory.graph import Row
df = graph \
      .select(lambda vertex: Row(vertex.name(), vertex.degree(), vertex.out_degree(), vertex.in_degree())) \
      .to_df(["name", "degree", "out_degree", "in_degree"])

15:55:29.965 [io-compute-blocker-9] INFO  com.raphtory.api.analysis.table.TableOutputTracker - Job 737823992_7542332978495795720: Starting query progress tracker.
15:55:29.965 [io-compute-blocker-9] INFO  com.raphtory.api.analysis.table.TableOutputTracker - Job 737823992_7542332978495795720: Starting output collector.
15:55:29.983 [spawner-akka.actor.default-dispatcher-10] INFO  com.raphtory.internals.components.querymanager.QueryManager - Source 0 has completed ingesting and will now unblock
15:55:29.984 [spawner-akka.actor.default-dispatcher-10] INFO  com.raphtory.internals.components.querymanager.QueryManager - Query '737823992_7542332978495795720' received, your job ID is '737823992_7542332978495795720'.
15:55:29.990 [spawner-akka.actor.default-dispatcher-3] INFO  com.raphtory.internals.components.partition.QueryExecutor - 737823992_7542332978495795720_0: Starting QueryExecutor.
15:55:29.990 [spawner-akka.actor.default-dispatcher-10] INFO  com.raphtory.internals.components.partition.QueryExecutor - 737823992_7542332978495795720_1: Starting QueryExecutor.
15:55:30.603 [spawner-akka.actor.default-dispatcher-11] INFO  com.raphtory.internals.components.querymanager.QueryHandler - Job '737823992_7542332978495795720': Perspective at Time '1341101732' took 605 ms to run.
15:55:30.615 [spawner-akka.actor.default-dispatcher-8] INFO  com.raphtory.api.analysis.table.TableOutputTracker - Job '737823992_7542332978495795720': Perspective '1341101732' finished after 651 ms.
15:55:30.615 [spawner-akka.actor.default-dispatcher-8] INFO  com.raphtory.api.analysis.table.TableOutputTracker - Job 737823992_7542332978495795720: Running query, processed 1 perspectives.
15:55:30.618 [spawner-akka.actor.default-dispatcher-3] INFO  akka.actor.LocalActorRef - Message [[B] to Actor[akka://spawner/user/interesting_olive_trout-737823992_7542332978495795720-query-tracker#758590872] was not delivered. [1] dead letters encountered. If this is not an expected behavior then Actor[akka://spawner/user/interesting_olive_trout-737823992_7542332978495795720-query-tracker#758590872] may have terminated unexpectedly. This logging can be turned off or adjusted with configuration settings 'akka.log-dead-letters' and 'akka.log-dead-letters-during-shutdown'.

#### Clean the dataframe, we have deleted the unused window column. ðŸ§¹

In [5]:
df.drop(columns=['window'], inplace=True)

### Preview the dataframe ðŸ‘€

In [6]:
df

    timestamp    name  degree  out_degree  in_degree
0  1341101732   99258       1           1          0
1  1341101732       8       1           0          1
2  1341101732   75083       1           1          0
3  1341101732  376989       2           2          0
4  1341101732  453850       1           1          0
5  1341101732   84647       1           0          1
6  1341101732   50329       2           0          2
7  1341101732   13813       1           0          1

**Sort by highest degree, top 10**

In [7]:
df.sort_values(['degree'], ascending=False)[:10]

    timestamp    name  degree  out_degree  in_degree
3  1341101732  376989       2           2          0
6  1341101732   50329       2           0          2
0  1341101732   99258       1           1          0
1  1341101732       8       1           0          1
2  1341101732   75083       1           1          0
4  1341101732  453850       1           1          0
5  1341101732   84647       1           0          1
7  1341101732   13813       1           0          1

**Sort by highest in-degree, top 10**

In [8]:
df.sort_values(['in_degree'], ascending=False)[:10]

    timestamp    name  degree  out_degree  in_degree
6  1341101732   50329       2           0          2
1  1341101732       8       1           0          1
5  1341101732   84647       1           0          1
7  1341101732   13813       1           0          1
0  1341101732   99258       1           1          0
2  1341101732   75083       1           1          0
3  1341101732  376989       2           2          0
4  1341101732  453850       1           1          0

**Sort by highest out-degree, top 10**

In [9]:
df.sort_values(['out_degree'], ascending=False)[:10]

    timestamp    name  degree  out_degree  in_degree
3  1341101732  376989       2           2          0
0  1341101732   99258       1           1          0
2  1341101732   75083       1           1          0
4  1341101732  453850       1           1          0
1  1341101732       8       1           0          1
5  1341101732   84647       1           0          1
6  1341101732   50329       2           0          2
7  1341101732   13813       1           0          1

# Run a PageRank algorithm ðŸ“‘

Run your selected algorithm on your graph, here we run PageRank. Your algorithms can be obtained from the PyRaphtory object you created at the start. Specify where you write the result of your algorithm to, e.g. the additional column results in your dataframe. **Time to finish: ~3 to 4 minutes**

cols = ["prlabel"]


df_pagerank = graph.at(1341705593) \
                .past() \
                .execute(PyRaphtory.algorithms.generic.centrality.PageRank())\
                .to_df(["name"] + cols)

df_pagerank

**Clean your dataframe** ðŸ§¹

df_pagerank.drop(columns=['window'], inplace=True)

df_pagerank

**The top ten most ranked users**

df_pagerank.sort_values(['prlabel'], ascending=False)[:10]

### Run chained algorithms at once

In this example, we chain PageRank, Connected Components and Degree algorithms, running them one after another on the graph. Specify all the columns in the output dataframe, including an output column for each algorithm in the chain. **Time to finish: ~4 minutes**

cols = ["inDegree", "outDegree", "degree","prlabel","cclabel"]

df_chained = graph.at(1341705593) \
                .past() \
                .transform(PyRaphtory.algorithms.generic.centrality.PageRank())\
                .transform(PyRaphtory.algorithms.generic.ConnectedComponents)\
                .transform(PyRaphtory.algorithms.generic.centrality.Degree())\
                .execute(PyRaphtory.algorithms.generic.NodeList(*cols)) \
                .to_df(["name"] + cols)

df_chained.drop(columns=['window'], inplace=True)

df_chained

## Create visualisation by adding nodes ðŸ”Ž

def visualise(graph, df_chained):
    # Create network object
    net = Network(notebook=True, height='750px', width='100%', bgcolor='#222222', font_color='white')
    # Set visualisation tool
    net.force_atlas_2based()
    # Get the node list 
    df_node_list = graph.at(1341705593) \
                .past() \
                .execute(PyRaphtory.algorithms.generic.NodeList()) \
                .to_df(['name'])
    
    nodes = df_node_list['name'].tolist()
    
    node_data = []
    ignore_items = ['timestamp', 'name', 'window']
    for node_name in nodes:
        for i, row in df_chained.iterrows():
            if row['name']==node_name:
                data = ''
                for k,v in row.iteritems():
                    if k not in ignore_items:
                        data = data+str(k)+': '+str(v)+'\n'
                node_data.append(data)
                continue
    # Add the nodes
    net.add_nodes(nodes, title=node_data)
    # Get the edge list
#     df_edge_list = graph.at(1341705593) \
#             .past() \
#             .execute(PyRaphtory.algorithms.generic.EdgeList()) \
#             .write_to_dataframe(['from', 'to'])
#     edges = []
#     for i, row in df_edge_list[['from', 'to']].iterrows():
#         edges.append([row['from'], row['to']])
#     # Add the edges
#     net.add_edges(edges)
    # Toggle physics
    net.toggle_physics(True)
    return net

net = visualise(graph, df_chained)

net.show('preview.html')

In [ ]:
PyRaphtory.close_graphs