# Getting data into a graph

Now that we know PyRaphtory is installed and running, let's look at the different ways to get some real data into a graph. 

For this first set of tutorials we are going to be building graphs from a Lord of the Rings dataset, looking at when characters interact throughout the trilogy üßùüèª‚Äç‚ôÄÔ∏èüßôüèª‚Äç‚ôÇÔ∏èüíç.
 
<p align="center">
 <img src="../images/lotr-graphic.png" width="700px" style="padding: 15px" alt="Intro Graphic of LOTR slices"/>
</p>

As with the quick start install guide, this and all following python pages are built as iPython notebooks. If you want to follow along on your own machine, click the `open on github` link in the top right of this page.

## Let's have a look at the example data

The data we are going to use is a `csv` file (comma-separated values) and can be pulled from our <a href="https://github.com/Raphtory/Data/blob/main/lotr.csv" target="_blank">Github data repository</a>. Each line contains two characters that appeared in the same sentence, along with the sentence number, which we will use as a `timestamp`. The first line of the file is `Gandalf,Elrond,33` which tells
us that Gandalf and Elrond appears together in sentence 33.

### Downloading the csv from Github üíæ

The following `curl` command will download the csv file and save it in the `tmp` directory on your computer. This will be deleted when you restart your computer, but it's only a couple of KB in any case.

In [1]:
!curl -o /tmp/lotr.csv https://raw.githubusercontent.com/Raphtory/Data/main/lotr.csv
!head /tmp/lotr.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 52206  100 52206    0     0   372k      0 --:--:-- --:--:-- --:--:--  372k
Gandalf,Elrond,33
Frodo,Bilbo,114
Blanco,Marcho,146
Frodo,Bilbo,205
Thorin,Gandalf,270
Thorin,Bilbo,270
Gandalf,Bilbo,270
Gollum,Bilbo,286
Gollum,Bilbo,306
Gollum,Bilbo,308

## Setting up our imports and Raphtory Context
Now that we have our data we can sort out our imports and create our Raphtory Context which we will use to build our graphs.

The imports here are for parsing CSV files, accessing pandas dataframes, and bringing in all the Raphtory classes we will use further on.

The `filename` here is pointing at the data we just downloaded. If you change the download location above, make sure to change it here as well.

Finally we have also created a function here which takes a graph and returns a dataframe with the nodes in/out degree. This is the same query as in the prior tutorial, we will just be using it to make sure our data has ingested correctly.

In [2]:
import csv
import pandas as pd
from pyraphtory.context import PyRaphtory
from pyraphtory.input import ImmutableProperty
from pyraphtory.input import Type
from pyraphtory.input import Properties
from pyraphtory.input import GraphBuilder
from pyraphtory.spouts import FileSpout
from pyraphtory.sources import CSVEdgeListSource
from pyraphtory.sources import Source
from pyraphtory.graph import Row

filename = "/tmp/lotr.csv"
ctx = PyRaphtory.local()

def graph_degree(graph):
    return graph \
    .select(lambda vertex: Row(vertex.name(), vertex.out_degree(), vertex.in_degree())) \
    .to_df(["name", "out_degree", "in_degree"])

openjdk version "11.0.15" 2022-04-19 LTS
OpenJDK Runtime Environment Corretto-11.0.15.9.1 (build 11.0.15+9-LTS)
OpenJDK 64-Bit Server VM Corretto-11.0.15.9.1 (build 11.0.15+9-LTS, mixed mode)

Java found!
Getting JAVA_HOME
JAVA_HOME found = /Users/bensteer/.sdkman/candidates/java/current/bin/java

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by py4j.reflection.MethodInvoker$1 (file:/Users/bensteer/miniconda3/envs/pyraph39/lib/python3.9/site-packages/pyraphtory_jvm/data/lib/compile/py4j.jar) to method java.util.AbstractMap$1.iterator()
WARNING: Please consider reporting this to the maintainers of py4j.reflection.MethodInvoker$1
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release

## Adding data directly into the Graph

The simplest way to add data into a graph is to directly call the `add_vertex` and `add_edge` functions, which we saw in the quick start guide. These functions, however, have several additional arguments allowing us to add `properties` and `types` to both vertices and edges.

In [3]:
graph = ctx.new_graph()
with open(filename, 'r') as csvfile:
    datareader = csv.reader(csvfile)
    for row in datareader:
        source_node = row[0]
        src_id = graph.assign_id(source_node)
        target_node = row[1]
        tar_id = graph.assign_id(target_node)
        time_stamp = int(row[2])
        graph.add_vertex(time_stamp, src_id, Properties(ImmutableProperty("name", source_node)), Type("Character"))
        graph.add_vertex(time_stamp, tar_id, Properties(ImmutableProperty("name", target_node)), Type("Character"))
        graph.add_edge(time_stamp, src_id, tar_id, Type("Character_Co-occurence"))

### Lets check the data has ingested

In [4]:
df = graph_degree(graph)
df

     timestamp       name  out_degree  in_degree
0        32674     Hirgon           2          0
1        32674      Hador           1          2
2        32674       Horn           1          3
3        32674  Galadriel           6         16
4        32674    Isildur          18          0
..         ...        ...         ...        ...
134      32674    Faramir           3         29
135      32674       Bain           1          1
136      32674      Walda           3         10
137      32674  Thranduil           0          2
138      32674    Boromir           6         17

[139 rows x 4 columns]

## Ingesting data with in-built Sources

As this data is in an `edge list` format, another way to convert it into a graph is to use our `CSVEdgeListSource`. `Sources` let Raphtory know where to pull the data from and how to convert them into `graph updates`. This particular source will parse each line as two `vertex additions` and an `edge addition` at the given timestamp. 

Notably for this `Source` if the vertex ids are `Strings` instead of `Integers` it will turn the strings into a number and allocate the orginal value as a property on each vertex called `name`.

In [5]:
graph2 = ctx.new_graph()
spout = FileSpout("/tmp/lotr.csv")
source = CSVEdgeListSource(spout)

graph2.load(source)

com.raphtory.api.analysis.graphview.PyDeployedTemporalGraph@768361f6

### Lets compare the graphs

In [6]:
df2 = graph_degree(graph2)
different_results = pd.DataFrame.compare(df,df2)
len(different_results)

0

## Creating our own custom Source

In [7]:
def parse(graph, tuple: str):
    parts = [v.strip() for v in tuple.split(",")]
    source_node = parts[0]
    src_id = graph.assign_id(source_node)
    target_node = parts[1]
    tar_id = graph.assign_id(target_node)
    time_stamp = int(parts[2])

    graph.add_vertex(time_stamp, src_id, Properties(ImmutableProperty("name", source_node)), Type("Character"))
    graph.add_vertex(time_stamp, tar_id, Properties(ImmutableProperty("name", target_node)), Type("Character"))
    graph.add_edge(time_stamp, src_id, tar_id, Type("Character_Co-occurence"))

graph3 = ctx.new_graph()
spout = FileSpout("/tmp/lotr.csv")
source = Source(spout,GraphBuilder(parse))

graph3.load(source)

graph_degree(graph3)

    timestamp        name  out_degree  in_degree
0       26278   Ungoliant           1          0
1       26278   Galadriel           3          5
2       26278     Isildur           7          0
3       26278     Mablung           2          2
4       26278      Bergil           0          4
5       26278     Gamling           1          2
6       26278      Gollum           3          3
7       26278        Helm           5          1
8       26278     Thengel           1          2
9       26278  Erkenbrand           1          4
10      26278    Peregrin           4          2
11      26278       √âowyn           2          0
12      26278    Grimbold           1          0
13      26278     Forlong           1          1
14      26278      Pippin          14          5
15      26278     Aragorn           1         27
16      26278      Gorbag           1          0
17      26278     Elessar           1          0
18      26278     Arvedui           1          0
19      26278     Imrahil           0          1
20      26278     Samwise           2          3
21      26278      Sauron           0          3
22      26278   Ecthelion           0          3
23      26278       Bilbo           1          2
24      26278     Hamfast           1          1
25      26278         Tom           2          0
26      26278         Sam          10          1
27      26278      Damrod           1          3
28      26278     Th√©oden           4          4
29      26278     Saruman           2          7
30      26278     Gandalf          14         10
31      26278       Frodo          13          5
32      26278    Meriadoc           2          0
33      26278      Elrond           2          9
34      26278     Shagrat           0          3
35      26278      Shelob           1          3
36      26278    Denethor           4          5
37      26278      Amroth           1          0
38      26278      Anborn           3          0
39      26278       Merry           5          7
40      26278       Gimli           9          0
41      26278  Wormtongue           1          2
42      26278    Halbarad           1          4
43      26278     Legolas           7          1
44      26278       √âomer           5          0
45      26278     Faramir           2         12
46      26278   Treebeard           4          0
47      26278     Boromir           2          9
48      26278   Shadowfax           2          6
49      26278     Elendil           7          1
50      26278    Beregond           6          1

## Closing down the context

In [8]:
ctx.close()