In [26]:
import pandas as pd
full_data_path =  "/Users/haaroony/OneDrive - Pometry Ltd/nft_andrea/Data_API.csv.gz"
data_100k_path =  "/Users/haaroony/OneDrive - Pometry Ltd/nft_andrea/Data_API_100k.csv"
data_1m_path = "/Users/haaroony/OneDrive - Pometry Ltd/nft_andrea/Data_API_1m.csv"

In [15]:
data = pd.read_csv(full_data_path)
data_1m = pd.read_csv(data_1m_path)
data_100k = pd.read_csv(data_100k_path)

/var/folders/rm/nnz28pc96cv2xqzbwlwvwl2r0000gn/T/ipykernel_81594/925932960.py:1: DtypeWarning: Columns (0,1,2,4,6,8,9,10,14,15,20) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(full_data_path)

In [24]:
print("# of nfts in total")
print(len(set(data['ID_token'])))

print("number of sellers in total")
print(len(set(data['Seller_address'])))

print(" number of buyers in total")
print(len(set(data['Buyer_address'])))

# of nfts in total
4746857
number of sellers in total
312920
 number of buyers in total
358348

In [28]:
print("# of nfts in total")
print(len(set(data_1m['ID_token'])))

print("number of sellers in total")
print(len(set(data_1m['Seller_address'])))

print(" number of buyers in total")
print(len(set(data_1m['Buyer_address'])))

# of nfts in total
850475
number of sellers in total
34489
 number of buyers in total
101929

In [31]:
print("# of nfts in total")
print(len(set(data_100k['ID_token'])))

print("number of sellers in total")
print(len(set(data_100k['Seller_address'])))

print(" number of buyers in total")
print(len(set(data_100k['Buyer_address'])))

# of nfts in total
97051
number of sellers in total
5
 number of buyers in total
1280

In [41]:
data_1m.head()

,Smart_contract,ID_token,Transaction_hash,Seller_address,Seller_username,Buyer_address,Buyer_username,Image_url_1,Image_url_2,Image_url_3,...,Name,Description,Collection,Market,Datetime_updated,Datetime_updated_seconds,Permanent_link,Unique_id_collection,Collection_cleaned,Category
0,NaN,87094722.0,0xed9ff1c311a611e5c457ce0a49bbbb7ed55efca98842...,0x76481caa104b5f6bccb540dae4cefaf1c398ebea,NaN,0xe0fb7622091e3d9ef9b438471b10b9ea88c7cf6b,NaN,https://card.godsunchained.com/?id=33&q=4,NaN,NaN,...,NaN,NaN,Godsunchained,Godsunchained,2019-11-30 00:00:00,2019-11-30 23:59:33,NaN,"('Godsunchained', '87094722.0')",Godsunchained,Games
1,NaN,73044643.0,0xbc8412594ffa7382e8306215ece5b4e041fc641b1813...,0x76481caa104b5f6bccb540dae4cefaf1c398ebea,NaN,0x2c00d05ff7ffe93d77145dfe12aa56e622ae6f40,NaN,https://card.godsunchained.com/?id=79&q=4,NaN,NaN,...,NaN,NaN,Godsunchained,Godsunchained,2019-11-30 00:00:00,2019-11-30 23:59:33,NaN,"('Godsunchained', '73044643.0')",Godsunchained,Games
2,NaN,17107482.0,0x92672baf5e9e23de230dee8e57ddf443ab6d5a336341...,0x76481caa104b5f6bccb540dae4cefaf1c398ebea,NaN,0xe0fb7622091e3d9ef9b438471b10b9ea88c7cf6b,NaN,https://card.godsunchained.com/?id=33&q=4,NaN,NaN,...,NaN,NaN,Godsunchained,Godsunchained,2019-11-30 00:00:00,2019-11-30 23:59:33,NaN,"('Godsunchained', '17107482.0')",Godsunchained,Games
3,NaN,82230857.0,0x3d157249e3083622c2d756f07a05caa3a76687288b32...,0x76481caa104b5f6bccb540dae4cefaf1c398ebea,NaN,0x2c00d05ff7ffe93d77145dfe12aa56e622ae6f40,NaN,https://card.godsunchained.com/?id=227&q=4,NaN,NaN,...,NaN,NaN,Godsunchained,Godsunchained,2019-11-30 00:00:00,2019-11-30 23:59:33,NaN,"('Godsunchained', '82230857.0')",Godsunchained,Games
4,NaN,40925443.0,0xa892b3569dc8e6b3c7db93aade62372637ebbc61fb63...,0x76481caa104b5f6bccb540dae4cefaf1c398ebea,NaN,0x2c00d05ff7ffe93d77145dfe12aa56e622ae6f40,NaN,https://card.godsunchained.com/?id=62&q=4,NaN,NaN,...,NaN,NaN,Godsunchained,Godsunchained,2019-11-30 00:00:00,2019-11-30 23:58:44,NaN,"('Godsunchained', '40925443.0')",Godsunchained,Games

In [42]:
data_1m['Datetime_updated_seconds'].tail()

999994    2020-08-20 19:15:19
999995    2020-08-20 19:14:51
999996    2020-08-20 19:14:36
999997    2020-08-20 19:13:46
999998    2020-08-20 19:12:33
Name: Datetime_updated_seconds, dtype: object

In [43]:
data_1m['Price_USD']

0          0.030318
1          0.197067
2          0.030318
3          0.333498
4          0.181908
            ...
999994    17.597385
999995     2.586750
999996     2.508000
999997     3.650500
999998     1.515150
Name: Price_USD, Length: 999999, dtype: float64

In [44]:
for i, x in enumerate(data_1m.columns):
    print(i, x)

0 Smart_contract
1 ID_token
2 Transaction_hash
3 Seller_address
4 Seller_username
5 Buyer_address
6 Buyer_username
7 Image_url_1
8 Image_url_2
9 Image_url_3
10 Image_url_4
11 Price_Crypto
12 Crypto
13 Price_USD
14 Name
15 Description
16 Collection
17 Market
18 Datetime_updated
19 Datetime_updated_seconds
20 Permanent_link
21 Unique_id_collection
22 Collection_cleaned
23 Category

In [48]:
price_df = data_1m[['Price_USD']]

In [54]:
max(data_1m['Datetime_updated_seconds']) # 1619562578

'2021-04-27 23:29:38'

In [49]:
is_NaN = price_df.isnull()

row_has_NaN = is_NaN.any(axis=1)

rows_with_NaN = price_df[row_has_NaN]

In [50]:
rows_with_NaN

        Price_USD
679919        NaN
686239        NaN
686654        NaN
686655        NaN
728650        NaN
...           ...
938091        NaN
938361        NaN
938370        NaN
938374        NaN
938389        NaN

[348 rows x 1 columns]